<div id="mostrarErros"></div>


<title>Fotógrafo - Registro</title>

<body class="bg-dark">

  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Registrar uma conta</div>
      <div class="card-body">
        <form id="formRegister">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="nome" type="text" id="firstName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                  <label for="firstName">Primeiro nome</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="sobrenome" type="text" id="lastName" class="form-control" placeholder="Last name" required="required">
                  <label for="lastName">Ultimo nome</label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
              <label for="inputEmail">Email</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="senha" type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                  <label for="inputPassword">Senha</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <input name="senha2" type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                  <label for="confirmPassword">Confirmar senha</label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Já é membro?</a>
          <a class="d-block small" href="/forgot-password">Esqueceu a senha?</a>
        </div>
      </div>
    </div>
  </div>
</body>
