<title>Sobre</title>

<link rel="stylesheet" href="/css/titulos.css">

<div class="body">

    {{>_menu}}

    <div class="card-body">
        <!-- Grid row -->

        <div class="mx-auto row"
            style="padding: 2%; margin-top: 10%; box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3); border-radius: 10px; min-height: 480px;">

            {{#if sobre}}
            <div class="col-4">

                <div class="flip-card">
                    <div class="flip-card-inner">

                        <div class="flip-card-front">
                            <img src="http://abre.ai/olucasmaisgaydasala" style="width: 100%; border-radius: 10px">
                        </div>

                        <div class="flip-card-back">
                            <h1>{{sobre.titulo}}</h1>
                            <p>Fotógrafo</p>
                            <p>Gay</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-8">
                <h2>{{sobre.titulo}}</h2>
                <p>
                    {{sobre.descricao}}
                </p>
            </div>
            {{else}}
            <div class="col-4">

                <div class="flip-card">
                    <div class="flip-card-inner">

                        <div class="flip-card-front">
                            <img src="http://abre.ai/olucasmaisgaydasala" style="width: 100%; border-radius: 10px">
                        </div>

                        <div class="flip-card-back">
                            <h1>John Doe</h1>
                            <p>Architect & Engineer</p>
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-8">
                <h2>NOME DO CABRA</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            {{/if}}

        </div>


        {{>_footerInicial}}

    </div>


    <style>

    </style>